<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/auth-master-layout}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/ecarmanagement/public/css/home/index.css}"/>
    <title>Home</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="content-text">
        <div class="row ">
            <div class="">
                <form class="search-form" method="GET" action="/ecarmanagement/car/search">
                    <div class="col-search-bar">
                        <h3>Find cars near you   </h3>
                    </div>
                    <div class="col-search-bar">
                        <div class="form-group">
                            <select class="form-control" name="makeCode"
                                    id="makeCodeListPlaceHolderHONDA"
                                    aria-label="makeCodeListPlaceHolder"
                            >
                                <option selected="" value="">Any Make</option>
                                <option th:each="make : ${makes}" th:value="${make.makeId}" th:text="${make.makeName}"></option>

                                <!--                                    <optgroup label="Popular Makes">-->
                                <!--                                        <option value="ACURA">Acura</option>-->
                                <!--                                        <option value="AUDI">Audi</option>-->
                                <!--                                        <option value="BMW">BMW</option>-->
                                <!--                                        <option value="BUICK">Buick</option>-->
                                <!--                                        <option value="CAD">Cadillac</option>-->
                                <!--                                        <option value="CHEV">Chevrolet</option>-->
                                <!--                                        <option value="CHRY">Chrysler</option>-->
                                <!--                                        <option value="DODGE">Dodge</option>-->
                                <!--                                        <option value="FORD">Ford</option>-->
                                <!--                                        <option value="GENESIS">Genesis</option>-->
                                <!--                                        <option value="GMC">GMC</option>-->
                                <!--                                    </optgroup>-->
                            </select>
                            <span class="help-block">
                                    <div id="findyourcar-example-make" class="text-sm">
                                        <a href="https://ad.doubleclick.net/ddm/trackclk/N8334.8257.AUTOTRADER.COM2/B22110050.251906059;dc_trk_aid=434486652;dc_trk_cid=110534791;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=" >Ex: GMC</a>
                                    </div>
                                </span>
                        </div>
                    </div>
                    <div class="col-search-bar">
                        <div class="form-group">
                            <select class="form-control" name="modelCode"
                                    id="modelCodeListPlaceHolder"
                                    aria-label="modelCodeListPlaceHolder" >
                                <option selected="" value="">Any Model</option>
                                <option th:each="carModel : ${carModels}" th:value="${carModel.carModelId}" th:text="${carModel.carModelName}"></option>

                                <!--                                    <optgroup label="Popular Models">-->
                                <!--                                        <option value="ACCORD">Accord</option>-->
                                <!--                                        <option value="CIVIC">Civic</option>-->
                                <!--                                        <option value="HONCLARITY">Clarity</option>-->
                                <!--                                        <option value="CRV">CR-V</option>-->
                                <!--                                        <option value="FIT">Fit</option>-->
                                <!--                                        <option value="HONHRV">HR-V</option>-->
                                <!--                                        <option value="INSIGHT">Insight</option>-->
                                <!--                                    </optgroup>-->
                            </select>
                            <span class="help-block">
                                    <div id="findyourcar-example-model" class="text-sm">
                                        <a href="https://ad.doubleclick.net/ddm/trackclk/N8334.8257.AUTOTRADER.COM2/B22110050.251906308;dc_trk_aid=434574928;dc_trk_cid=110535523;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua="
                                        >Ex: Sierra</a>
                                    </div>
                                </span>
                        </div>
                    </div>
                    <div class="col-search-bar">
                        <div class="form-group">
                            <input type="text" name="zip"
                                   pattern="\d{5}"
                                   placeholder="ZIP Code" required="" class="form-control" value="52557"
                                   aria-label="ZIP Code" />
                        </div>
                    </div>
                    <div class="col-search-bar">
                        <button id="search" type="submit" class="btn btn-primary btn-block ae-button"
                        >Search</button>
                        <!--                            <span class="help-block">-->
                        <!--                                    <div id="searchcar-advance-model" class="text-sm">-->
                        <!--                                        <a href="/ecarmanagement/car/search"-->
                        <!--                                        >Advance Search</a>-->
                        <!--                                    </div>-->
                        <!--                            </span>-->
                    </div>
                </form>
            </div>
        </div>
        <img th:src="@{/ecarmanagement/public/images/sierra_1024x475_v1.jpg}" alt="banner"/><br/><br/>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen student.</p>
    </div>
<!--    <h3>Welcome to the eCarmanagement</h3>-->
<!--    <hr/>-->
<!--    <div style="font-size: 1em">-->
<!--        <img th:src="@{/ecarmanagement/public/images/banner1.png}"/><br/><br/>-->
<!--        <p>We are a top-flight, fully-digitized library.-->
<!--            Find out more <a href="/ecarmanagement/public/about">about us</a> and-->
<!--            and learn how we can serve you with a widest variety of books and lots of other-->
<!--            digital content, all for your education as well as your entertainment.-->
<!--            You can also <a href="/ecarmanagement/public/virtualtour">take a virtual tour</a>,-->
<!--            of our world-class facilities and be amazed at all what we have in stock-->
<!--            for you, your family and friends.</p>-->

<!--        <p>Lorem Ipsum is simply dummy text of the printing and typesetting-->
<!--            industry. Lorem Ipsum has been the industry's standard dummy text-->
<!--            ever since the 1500s, when an unknown printer took a galley of type-->
<!--            and scrambled it to make a type specimen book. It has survived not-->
<!--            only five centuries, but also the leap into electronic typesetting,-->
<!--            remaining essentially unchanged. It was popularised in the 1960s with-->
<!--            the release of Letraset sheets containing Lorem Ipsum passages, and-->
<!--            more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>-->

<!--    </div>-->
</th:block>

<th:block layout:fragment="footer"></th:block>

</body>
</html>